header{
  width: 980px;
  height: 140px;
  background-color: #0D7962;
  border: 2px dashed pink;
  margin: auto;
  margin-bottom: 10px;
  color: #ffff;
}
main  {
  width: 980px;
  height: 450px;
  border:2px dashed brown;
  margin: auto;
  margin-bottom: 10px;
  color: #ffff;
}
aside{
  width: 270px;
  height: 450px;
  background-color:#0D7962;
  border: 2px dashed rgb(0, 255, 128);
  float: left;
  margin-right: 10px;
  color: #ffff;
}
section{
  width: 690px;
  height: 450px;
  background-color:#0D7962;
  border: 2px dashed yellow;
  float: left;
  color: #ffff;
}
footer{
  width: 980px;
  height: 70px;
  background-color: #0D7962;
  border:2px dashed blue;
  margin: auto;
  color:#ffff;
  
}